*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(245, 245, 241);
    border: solid;
    border-radius: 15px;
    border-color: rgb(161, 83, 60);
    margin: 15px;
}
h1, h2, h3, h4, p{
    text-align: center;
}
.presentacion{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.presentacion h1{
    font-size: 2.5rem;
}
.presentacion img{
    width: 20%;
    height: 20%;
}
.presentacion h1{
    font-family: 'Dancing Script', cursive;
    margin: 10px;
}
.presentacion h3{
    margin: 10px;
}
.ubicacion{
    background-color: rgb(228, 205, 186);
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ubicacion img{
    width: 25%;
    height: 25%;
}
.ubicacion p{
    font-size: 1.3rem;
}
.ubicacion span{
    font-weight: bold;
}
.ubicacion #btn-ubicacion{
    background-color: rgb(245, 245, 241);
    color: black;
    border-color: rgb(161, 83, 60);
    border-radius: 20px;
    font-style: italic;
    font-weight: bold;
    font-size: 0.9rem;
}
#btn-ubicacion:hover{
    transform: scale(1.1);
}
.ubicacion #mapa{
    width: 90%;
    margin: 20px;
    display: none;
}
.dressCode{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dressCode img{
    width: 10%;
    height: 10%;
}
.dressCode .texto-dressCode h3{
    font-style: italic;
}
.dressCode .texto-dressCode p{
    font-size: 1.3rem;
    font-weight: bold;
}
.countDown{
    background-color: rgb(228, 205, 186);
    padding: 20px;
}
.countDown #faltan{
    font-size: 1.3rem;
    font-weight: bold;
}
.countDown #llego{
    display: none;
    font-size: 1.4rem;
    font-weight: bold;
}
.countDown #time{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.countDown #days, #hours, #minutes, #seconds{
    background-color: rgb(245, 245, 241);
    width: 50px;
    border-radius: 15px;
    padding-top: 10px;
    border: solid;
    border-color: rgb(151, 101, 84);
}
.countDown #days, #hours, #minutes, #seconds p{
    font-weight: bold;
    font-style: oblique;
}
.asistencia{
    padding: 20px;
}
.asistencia .row{
    justify-content: center;
    margin-top: 20px;
}
.asistencia img{
    width: 20%;
    height: 20%;
}
.asistencia a{
    text-decoration: none;
}
.asistencia #btn-asistencia{
    background-color: rgb(228, 205, 186);
    color: black;
    border-color: rgb(161, 83, 60);
    border-radius: 20px;
    font-style: italic;
    font-weight: bold;
    font-size: 0.9rem;
}
#btn-asistencia:hover{
    transform: scale(1.1);
}
.regalo{
    background-color: rgb(228, 205, 186);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.regalo img{
    width: 20%;
    height: 20%;
}
.regalo p{
    font-size: 1.2rem;
}
.regalo #btn-regalo{
    background-color: rgb(245, 245, 241);
    color: black;
    border-color: rgb(161, 83, 60);
    border-radius: 20px;
    font-style: italic;
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: 20px;
}
#btn-regalo:hover{
    transform: scale(1.1);
}
.regalo #datos-bancarios{
    display: none;
    margin: 20px;
}
.regalo #datos-bancarios span{
    font-weight: bold;
}
#carouselExample{
    margin: 20px;
    font-style: italic;
}
.carousel-inner{
    box-shadow: 5px 5px 15px black;
}
.instagram{
    display: flex;
    flex-direction: column;
}
.instagram img{
    width: 20%;
    height: 20%;
    margin: 20px;
}
.instagram h4{
    font-weight: bold;
}
.instagram p{
    font-size: 1.2rem;
}
.instagram a{
    text-decoration: none;
}
.instagram #btn-instagram{
    background-color: rgb(228, 205, 186);
    color: black;
    border-color: rgb(161, 83, 60);
    border-radius: 20px;
    font-style: italic;
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 10px;
}
#btn-instagram:hover{
    transform: scale(1.1);
}